# Auto detect text files and perform LF normalization
* text=auto

# Markdown files
*.md text diff=markdown

# TOML files
*.toml text

# Binary files
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.pdf binary

